.card {
  height: 200px;
  width: 400px ;
  background-color:#F9F871;
  color: #e84855;
}

.grid {
  /* margin: auto; 
  margin-top:20px ;
  margin-bottom:20px ; */
  /* background-color: #F9F871; */
  /* padding: 0;*/
}

.ingrid{
  /* border:  2px solid grey ; */
  /* background-color: black; */
}

.link {
  text-decoration: none;
  color: #08110F;
  /* color: #e84855 */
}

.link:visited {
  text-decoration: none;
  color: #08110F;
}

.link:hover, .link:active {
  text-decoration: none;
  color: #e84855;
}

.divImage{
  width:200px ;
  height: 200px ;
  background-color: #08110F;
}

.content {
  width: 195px;
  height: 200px;
  /* background-color: #e84855; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.media {
  padding: 0 ;
  margin-bottom: 33px ;
  /* margin-left: -50px; */
}

.cardAction{
  display: flex;
  flex-direction: row;  
}