.container {
  position: absolute;
  top: 0 ;
  left: 0 ;
  width: 98vw;
  height: 80vh;
  /* background-color: red ; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardArea {
  width: 100% ;
}

.card {
  width: 400px;
  min-height: 200px ;
  padding: 5px ;
}
.header {
  margin-top: 10px;
  
}

.body {
  margin: 20px auto ;
  width: 60%;
  
}