.container {
  position: absolute;
  top: 0 ;
  left: 0 ;
  width: 98vw;
  height: 70vh;
  /* background-color: red ; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardArea {
  width: 390px ;
  height: 190px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
    align-items: center;
}

.card {
  width: 400px;
  height: 200px ;
  padding: 5px ;
  margin: 20px;
  display: flex;
}
.header {
  margin-top: 10px;  
  margin-bottom: 10px;
}

.body {
  width: 60%; 
  background-color: aqua; 
}

.img {
  margin: 10px;
  border-radius: 4px;
}