.outter {
   width:100vw ;
  height: 100vh;
  position:absolute ;
  top: 0 ;
  left: 0 ;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: .85;
  z-index: 1001;
}

.legend {
  margin:  10px ;
}
.div{
 width: 500px ;
 height: 325px;
 /* background-color: blue ; */
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 border: 1px solid #F9F871;
 box-shadow: 0 0 15px #F9F871 ;
}

.textfield {
  margin: 20px ;
}
