.container {
  background-image: radial-gradient(circle, #f1f085, #d2d376, #b4b768, #989c5a, #7d814c); 
  width: 100vw;
  min-height: 200px;
  z-index: 200000000000;
}

.inner{
  height: 180px;
}

.card {
  height: 50px;
  border-radius: 0;
  background-image: radial-gradient(circle, #f1f085, #d2d376, #b4b768, #989c5a, #7d814c);
  
}